name: Build and Release

on:
  push:
    tags:
      - "v*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish Maven metadata
        run: ./gradlew publishToMavenLocal

      - name: Upload JAR and POM to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/libs/*.jar
            build/publications/mavenJava/pom-default.xml
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}